In [1]:
import pandas as pd

C:\Users\user\AppData\Local\Temp\ipykernel_4056\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
revenue = pd.read_csv("input_file/revenue.csv", index_col="Date")

In [4]:
revenue

         New York  Los Angeles  Miami
Date
1/1/26        985          122    499
1/2/26        738          788    534
1/3/26         14           20    933
1/4/26        730          904    885
1/5/26        114           71    253
1/6/26        936          502    497
1/7/26        123          996    115
1/8/26        935          492    886
1/9/26        846          954    823
1/10/26        54          285    216

In [5]:
s = pd.Series([1, 2, 3])
s.sum()

6

In [6]:
revenue.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [7]:
revenue.sum(axis="index")

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [8]:
revenue.sum(axis="columns")

Date
1/1/26     1606
1/2/26     2060
1/3/26      967
1/4/26     2519
1/5/26      438
1/6/26     1935
1/7/26     1234
1/8/26     2313
1/9/26     2623
1/10/26     555
dtype: int64

In [9]:
revenue.sum(axis="columns").sum()

16250

In [10]:
s.sum(axis="index")

6

In [11]:
s.sum(axis="columns")

ValueError: No axis named columns for object type Series