In [1]:
import pandas as pd

In [2]:
# code to read the csv file having extra heading.
df = pd.read_csv('data_folder/tickets.csv', skiprows=1)

# same thing we can get from header argument.
df = pd.read_csv('data_folder/tickets.csv', header=1)

In [3]:
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [4]:
df = pd.read_csv('data_folder/stock.csv', header=None)

In [5]:
df

       0              1    2     3              4
0  GOOGL          27.82   87   845     larry page
1    WMT           4.61  484    65           n.a.
2   MSFT             -1   85    64     bill gates
3    RIL  not available   50  1023  mukesh ambani
4   TATA            5.6   -1  n.a.     ratan tata

In [6]:
# code to read csv without header in csv files with custom header
df = pd.read_csv('data_folder/stock.csv', header=None, names=['Ticker', 'eps', 'revenue', 'price', 'people'])

In [7]:
df

  Ticker            eps  revenue price         people
0  GOOGL          27.82       87   845     larry page
1    WMT           4.61      484    65           n.a.
2   MSFT             -1       85    64     bill gates
3    RIL  not available       50  1023  mukesh ambani
4   TATA            5.6       -1  n.a.     ratan tata

In [8]:
# code to read only three rows from csv
df = pd.read_csv('data_folder/tickets.csv', header=1, nrows=3)

In [9]:
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

In [10]:
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

In [11]:
# code to read some element as NaN which we want.
df = pd.read_csv('data_folder/tickets.csv', header=1, na_values=['not available', 'n.a.'])

In [12]:
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3     RIL    NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [13]:
# code to read some element from a particular column as NaN which we want.
df = pd.read_csv('data_folder/tickets.csv', header=1, na_values={
    'revenue':['not available', 'n.a.', -1],
    'eps': ['not available', 'n.a.'],
    'people': ['not available', 'n.a.'],
    'price': ['not available', 'n.a.']
})

In [14]:
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [15]:
# code to write df data in to the csv files.
df.to_csv('data_folder/new_tickets.csv')

In [16]:
# code to write df data in to the csv without headers.
df.to_csv('data_folder/new_tickets.csv', index=False)

In [17]:
# code to write df data in to the csv with few columns.
df.to_csv('data_folder/new_tickets.csv', index=False, columns=['tickers', 'eps'])

In [18]:
# read from excel
# df = pd.read_excel('data_folder/new_excel.xlsx', sheet_name="sheet1")

XLRDError: Excel xlsx file; not supported

In [20]:
# change or convert the value of any cell from something else.
def convert_people_cell(cell):
    if cell == 'n.a.':
        return 'new_value'
    else:
        return cell
    
# df = pd.read_excel('data_folder/new_excel.xlsx', 'Sheet1', converters = {
#     'people': convert_people_cell
# })

XLRDError: Excel xlsx file; not supported

In [21]:
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [23]:
# code to write data in to excel
df.to_excel('data_folder/new_excels1.xlsx', sheet_name='sheet1')

In [24]:
#df = pd.read_excel('data_folder/new_excels1.xlsx', sheet_name='sheet1')

XLRDError: Excel xlsx file; not supported