In [1]:
import pandas as pd

C:\Users\user\AppData\Local\Temp\ipykernel_5952\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('../../data_folder/weather.csv')

In [4]:
df

        day  temprature  windspeed  event
0  01/01/17          32          6   Rain
1  01/02/17          35          7  Sunny
2  01/03/27          28          2   Snow
3  01/04/17          24          7   Snow
4  01/05/17          32          4   Rain
5  01/06/17          32          2  Sunny

In [5]:
a_dict = {'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
         'temprature': [32, 35, 28, 24, 32, 32],
         'windspeed': [6, 7, 2, 7, 4, 2],
         'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

In [6]:
df = pd.DataFrame(a_dict)

In [7]:
df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          32          2  Sunny

In [8]:
# code to check the dimension of the dataframe
df.shape

(6, 4)

In [9]:
rows, columns = df.shape

In [10]:
rows

6

In [11]:
columns

4

In [12]:
# code to get few rows from the dataframe
df.head()

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain

In [13]:
# code to get only 2 rows
df.head(2)

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny

In [14]:
# get rows from the last
df.tail()

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          32          2  Sunny

In [15]:
# get 2 rows from the last
df.tail(2)

        day  temprature  windspeed  event
4  1/5/2017          32          4   Rain
5  1/6/2017          32          2  Sunny

In [16]:
# code to get dataframe from row 2 to 4
df[2:5]

        day  temprature  windspeed event
2  1/3/2017          28          2  Snow
3  1/4/2017          24          7  Snow
4  1/5/2017          32          4  Rain

In [17]:
df[:]

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          32          2  Sunny

In [18]:
# code to get all the rows having column only temprature and event
df.loc[:, ['temprature', 'event']]

   temprature  event
0          32   Rain
1          35  Sunny
2          28   Snow
3          24   Snow
4          32   Rain
5          32  Sunny

In [20]:
df.loc[:, 'temprature':'event']

   temprature  windspeed  event
0          32          6   Rain
1          35          7  Sunny
2          28          2   Snow
3          24          7   Snow
4          32          4   Rain
5          32          2  Sunny

In [21]:
df.loc[2:4]

        day  temprature  windspeed event
2  1/3/2017          28          2  Snow
3  1/4/2017          24          7  Snow
4  1/5/2017          32          4  Rain

In [22]:
df.loc[2:5]

        day  temprature  windspeed  event
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          32          2  Sunny

In [23]:
df.iloc[:, 0:3]

        day  temprature  windspeed
0  1/1/2017          32          6
1  1/2/2017          35          7
2  1/3/2017          28          2
3  1/4/2017          24          7
4  1/5/2017          32          4
5  1/6/2017          32          2

In [24]:
# code to get list of columns.
df.columns

Index(['day', 'temprature', 'windspeed', 'event'], dtype='object')

In [25]:
#code to get content of any columns
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [26]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [27]:
#code to check the type of any column.
type(df['event'])

pandas.core.series.Series

In [29]:
# code to get content of a numbers of column of a dataframe.
df[['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [30]:
# code to get maximum temprature.
df['temprature'].max()

35

In [31]:
# code to get minimum temprature.
df['temprature'].min()

24

In [32]:
# code to get std 
df['temprature'].std()

3.8858718455450894

In [33]:
df.describe()

       temprature  windspeed
count    6.000000   6.000000
mean    30.500000   4.666667
std      3.885872   2.338090
min     24.000000   2.000000
25%     29.000000   2.500000
50%     32.000000   5.000000
75%     32.000000   6.750000
max     35.000000   7.000000

In [35]:
# code to get dataframe where temprature is greater than 32
df.loc[df['temprature'] > 32, :]

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny

In [36]:
df[df['temprature'] > 32]

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny

In [37]:
# code to get dataframe where temprature is maximum
df[df['temprature'] == df['temprature'].max()]

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny

In [38]:
# same thing
df[df['temprature'] == df.temprature.max()]

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny

In [40]:
# same thing
df[df.temprature == df.temprature.max()]

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny