In [1]:
import pandas as pd

C:\Users\user\AppData\Local\Temp\ipykernel_12560\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [24]:
df = pd.read_csv('../../data_folder/weather.csv')

In [25]:
df

        day  temprature  windspeed  event
0  01/01/17          32          6   Rain
1  01/02/17          35          7  Sunny
2  01/03/27          28          2   Snow
3  01/04/17          24          7   Snow
4  01/05/17          32          4   Rain
5  01/06/17          32          2  Sunny

In [28]:
#df = pd.read_excel('../../data_folder/weather.xlsx', engine='openpyxl')

In [29]:
# code to create dataframe from list of tuples.
tuple_list = [('1/1/2017', 20.4, 'Rain'),
             ('1/2/2017', 30.5, 'Snow'),
             ('1/3/2017', 23.5, 'Sunny')]

In [30]:
df = pd.DataFrame(tuple_list, columns=['Day', 'Temprature', 'Event'])

In [31]:
df

        Day  Temprature  Event
0  1/1/2017        20.4   Rain
1  1/2/2017        30.5   Snow
2  1/3/2017        23.5  Sunny

In [32]:
# code to create data from list of a dictionaries.
weather_data = [
    {'day': '1/1/2017', 'temprature': 20, 'windspeed': 4, 'event': 'Rain'},
    {'day': '1/2/2017', 'temprature': 30, 'windspeed': 5, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temprature': 40, 'windspeed': 6, 'event': 'Snow'}
]

df = pd.DataFrame(weather_data)

In [33]:
df

        day  temprature  windspeed  event
0  1/1/2017          20          4   Rain
1  1/2/2017          30          5  Sunny
2  1/3/2017          40          6   Snow