In [1]:
import pandas as pd

C:\Users\user\AppData\Local\Temp\ipykernel_13320\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('../../data_folder/newyork1.csv')

In [3]:
df

        day  temprature  windspeed   event
0  01/01/17        32.0        6.0     NaN
1  01/04/17         NaN        9.0   Sunny
2  01/05/17        28.0        NaN    Snow
3  01/06/17         NaN        7.0     NaN
4  01/07/17        32.0        NaN    Rain
5  01/08/17         NaN        NaN   Sunny
6  01/09/17         NaN        NaN     NaN
7  01/10/17        34.0        8.0  Cloudy
8  01/11/17        40.0       12.0   Sunny

In [4]:
#code to return type of a day column first value
type(df['day'][0])

str

In [5]:
#code to convert day column data into day and read
df = pd.read_csv('../../data_folder/newyork1.csv', parse_dates=['day'])

C:\Users\user\AppData\Local\Temp\ipykernel_13320\331829856.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('../../data_folder/newyork1.csv', parse_dates=['day'])

In [6]:
df

         day  temprature  windspeed   event
0 2017-01-01        32.0        6.0     NaN
1 2017-01-04         NaN        9.0   Sunny
2 2017-01-05        28.0        NaN    Snow
3 2017-01-06         NaN        7.0     NaN
4 2017-01-07        32.0        NaN    Rain
5 2017-01-08         NaN        NaN   Sunny
6 2017-01-09         NaN        NaN     NaN
7 2017-01-10        34.0        8.0  Cloudy
8 2017-01-11        40.0       12.0   Sunny

In [7]:
type(df['day'][0])

pandas._libs.tslibs.timestamps.Timestamp